.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.panels-buttons {
    display: flex;
    gap: 10px;
}

.small-bar {
    padding: 5px;
    background-color: #3F51B5;
}

.panels {
    display: none;
}

.list-item {
    color: white;
}