<div *ngIf="!useSideNav; else small_device" class="navbar">
    <div class="panels-buttons">
        <toggle-button [isSelected]="true" [isHomeEndPoint]="true">
            <!-- There will be rendered by default 'Home' -->
        </toggle-button>
        <toggle-button *ngFor="let tab of tabs" [endPoint]="tab">
            <span>{{ tab }}</span>
        </toggle-button>
    </div>
    <button mat-raised-button (click)="openDialog()">Aggiungi pannello</button>
</div>
<mat-divider></mat-divider>

<div #modal class="modal">
    <panel-dialog></panel-dialog>
</div>

<ng-template #small_device>
    <div class="small-bar">
        <button mat-raised-button (click)="toggleTabPanel()">
            <mat-icon>menu</mat-icon>
        </button>
        <div #dmenu class="panels">
            <mat-list *ngFor="let tab of tabs">
                <mat-list-item [routerLink]="['/dashboard', tab]" (click)="toggleTabPanel()">
                    <span class="list-item">{{ tab }}</span>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</ng-template>

