.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.panels-buttons {
    display: flex;
    gap: 10px;
}

.small-bar {
    padding: 5px;
    background-color: #3F51B5;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.panels {
    display: none;
}

.list-item {
    color: white;
}

.modal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}