<div *ngIf="!useSideNav; else small_device" class="navbar">
    <div class="panels-buttons">
        <toggle-button endPoint="/home">
            <span>Home</span>
        </toggle-button>
        <toggle-button *ngFor="let tab of tabs" [endPoint]="'/dashboard/' + tab">
            <span>{{ tab }}</span>
        </toggle-button>
        <toggle-button endPoint="/regata-field">
            <span>Regata Field</span>
        </toggle-button>
    </div>
    <button mat-raised-button (click)="openDialog()">Aggiungi pannello</button>
</div>
<mat-divider></mat-divider>

<div #modal class="modal">
    <panel-dialog></panel-dialog>
</div>

<ng-template #small_device>
    <div class="small-bar">
        <div class="buttons">
            <button mat-raised-button (click)="toggleTabPanel()">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-raised-button (click)="openDialog()">Aggiungi Pannello</button>
        </div>
        
        <div #dmenu class="panels">
            <mat-list>
                <mat-list-item routerLink="/home">
                    <span class="list-item">Home</span>
                </mat-list-item>
                <ng-container *ngFor="let tab of tabs">
                    <mat-list-item [routerLink]="['/dashboard', tab]" (click)="toggleTabPanel()">
                        <span class="list-item">{{ tab }}</span>
                    </mat-list-item>
                </ng-container>
            </mat-list>
        </div>
    </div>
</ng-template>

