<!-- <ng-container *ngIf="!isSmallScreen; else small_table">

    <table mat-table [dataSource]="devices">
        <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td class="device-label" mat-cell *matCellDef="let device"> {{ device.label.toUpperCase() }}</td>
        </ng-container>
        
        <ng-container matColumnDef="latitude">
            <th mat-header-cell *matHeaderCellDef>Latitude</th>
            <td mat-cell *matCellDef="let device"> {{ parseToGradiMinuti(device.latitude) }}</td>
        </ng-container>
        
        <ng-container matColumnDef="longitude">
            <th mat-header-cell *matHeaderCellDef>Longitude</th>
            <td mat-cell *matCellDef="let device"> {{ parseToGradiMinuti(device.longitude) }}</td>
        </ng-container>
        
        <ng-container matColumnDef="distance">
            <th mat-header-cell *matHeaderCellDef>Distance</th>
            <td mat-cell *matCellDef="let device"> {{ device.distance }}</td>
        </ng-container>
        
        <ng-container matColumnDef="course">
            <th mat-header-cell *matHeaderCellDef>Bearing</th>
            <td mat-cell *matCellDef="let device"> {{ device.course }}</td>
        </ng-container>
        
        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef>Time</th>
            <td mat-cell *matCellDef="let device"> {{ device.time }}</td>
        </ng-container>
        <ng-container matColumnDef="sog">
            <th mat-header-cell *matHeaderCellDef>SOG</th>
            <td mat-cell *matCellDef="let device"> {{ device.sog }}</td>
        </ng-container>
        <ng-container matColumnDef="cog">
            <th mat-header-cell *matHeaderCellDef>COG</th>
            <td mat-cell *matCellDef="let device"> {{ device.cog }}</td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="dColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: dColumns"></tr>
    </table>
</ng-container>

<ng-template #small_table>
    <table id="table-sm">
        <tr class="header">
            <th></th>
            <th>Lat/Lon</th>
            <th>Dist.</th>
            <th>Course</th>
            <th>SOG</th>
            <th>COG</th>
        </tr>
        <ng-container *ngFor="let device of devices">
            <tr>
                <td class="sm-td sm-label">{{ device.label }}</td>
                <td class="sm-td">{{ parseToGradiMinuti(device.latitude) }} <br /> {{ parseToGradiMinuti(device.longitude) }}</td>
                <td class="sm-td">{{ device.distance }}</td>
                <td class="sm-td">{{ device.course }}</td>
                <td class="sm-td">{{ device.sog }}</td>
                <td class="sm-td">{{ device.cog }}</td>
            </tr>
        </ng-container>
    </table>
</ng-template>

<table class="sm-table">
    <tr class="sm-row">
        <td class="sm-data">Angle Start Line - PIN Line</td>
        <td class="sm-data">{{ asl_pl }}</td>
    </tr>
    
    <tr class="sm-row">
        <td class="sm-data">Angle PIN OFFSET - PIN Line</td>
        <td class="sm-data">prova 2</td>
    </tr>
</table> -->

<ng-container *ngIf="isDesktop; else mobile">
    <table mat-table [dataSource]="devices" class="first-table">
        <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td class="device-label" mat-cell *matCellDef="let device"> {{ device.label.toUpperCase() }}</td>
        </ng-container>

        <ng-container matColumnDef="latitude">
            <th mat-header-cell *matHeaderCellDef>Latitude</th>
            <td mat-cell *matCellDef="let device"> {{ parseToGradiMinuti(device.latitude) }}</td>
        </ng-container>
        
        <ng-container matColumnDef="longitude">
            <th mat-header-cell *matHeaderCellDef>Longitude</th>
            <td mat-cell *matCellDef="let device"> {{ parseToGradiMinuti(device.longitude) }}</td>
        </ng-container>
        
        <ng-container matColumnDef="distance">
            <th mat-header-cell *matHeaderCellDef>Distance</th>
            <td mat-cell *matCellDef="let device"> {{ device.distance }}</td>
        </ng-container>
        
        <ng-container matColumnDef="bearing">
            <th mat-header-cell *matHeaderCellDef>Bearing</th>
            <td mat-cell *matCellDef="let device"> {{ device.course }}</td>
        </ng-container>
        
        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef>Time</th>
            <td mat-cell *matCellDef="let device"> {{ device.time }}</td>
        </ng-container>

        <ng-container matColumnDef="sog">
            <th mat-header-cell *matHeaderCellDef>SOG</th>
            <td mat-cell *matCellDef="let device"> {{ device.sog }}</td>
        </ng-container>

        <ng-container matColumnDef="cog">
            <th mat-header-cell *matHeaderCellDef>COG</th>
            <td mat-cell *matCellDef="let device"> {{ device.cog }}</td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="dColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: dColumns"></tr>
    </table>

    <!-- Seconda tabella -->
    <table class="second-table">
        <tr class="sm-row first">
            <td class="second-label">Angle Start Line - PIN Line</td>
            <td class="sm-data">{{ asl_pl }}</td>
        </tr>
        
        <tr class="sm-row">
            <td class="second-label">Angle PIN OFFSET - PIN Line</td>
            <td class="sm-data">90</td>
        </tr>
    </table> 
</ng-container>


<ng-template #mobile>
    <ng-container *ngIf="isPortrait; else landscape_mode">
        <div class="rotate-text">
            <p>Per favore ruota il telefono</p>
            <p>horizontally</p>
        </div>
    </ng-container>
</ng-template>

<ng-template #landscape_mode>
    <table id="small-table">
        <tr>
            <th></th>
            <th class="small-header">Latitude</th>
            <th class="small-header">Longitude</th>
            <th class="small-header">Distance</th>
            <th class="small-header">Bearing</th>
            <th class="small-header">Time</th>
            <th class="small-header">SOG</th>
            <th class="small-header">COG</th>
        </tr>
        <ng-container *ngFor="let device of devices">
            <tr class="device-row">
                <td class="small-label">{{ device.label }}</td>
                <td class="small-cell">{{ parseToGradiMinuti(device.latitude) }}</td>
                <td class="small-cell">{{ parseToGradiMinuti(device.longitude) }}</td>
                <td class="small-cell">{{ device.distance }}</td>
                <td class="small-cell">{{ device.course }}</td>
                <td class="small-cell">{{ device.time }}</td>
                <td class="small-cell">{{ device.sog }}</td>
                <td class="small-cell">{{ device.cog }}</td>
            </tr>
        </ng-container>
    </table>

    <div class="second-small-table">
        <p> <strong> Angle Start Line - PIN Line </strong>: {{ asl_pl }}</p>
        <p> <strong> Angle PIN OFFSET - PIN Line </strong>: 90</p>
    </div>

</ng-template>