table {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.mat-header-cell {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.mat-cell, .sm-td {
    font-size: 20px;
}

/* è importante che questo selettore stia sotto a .mat-cell
in quanto così facendo vado a sovrascrivere il font-size
*/
.device-label {
    font-weight: bold;
    font-size: 24px;
}

.mat-column-distance,
.mat-column-bearing,
.mat-column-latitude,
.mat-column-longitude,
.mat-column-time {
    text-align: center;
}

/* Tablet screen */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .mat-header-cell {
        font-size: 16px;
        font-weight: bold;
    }

    .mat-cell {
        font-size: 15px;
    }

    .device-label {
        font-size: 16px;
    }

    
}

/* Smartphone screen */
.rotate-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#small-table {
    margin-top: 15px;
    border-collapse: collapse;
}

.small-header {
    text-transform: uppercase;
}

.device-row {
    border-bottom: 1px solid gainsboro;
}

.small-label {
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 0;
}

.small-cell {
    text-align: center;
}

  