<!-- <mat-dialog-content class="content">
    <div class="forms">
        <div class="form-name">
            <mat-form-field appearance="outline">
                <mat-label>Nome pannello</mat-label>
                <input matInput type="text" [formControl]="panelName">
                <mat-error *ngIf="panelName.invalid">Il nome del pannello deve essere specificato</mat-error>
            </mat-form-field>
        </div>
        <div class="grid-dimension-selector">
            <mat-form-field appearance="outline">
                <mat-label>Dimensione pannello</mat-label>
                <mat-select [(value)]="selectedDimension" (selectionChange)="updateSelectableWidgets($event)">
                    <mat-option value="2x2">2x2</mat-option>
                    <mat-option value="3x3">3x3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="widget-grid">
        <widget-grid (submitSelectedMeasuresEvent)="addMeasure($event)"></widget-grid>
    </div>
    <mat-error *ngIf="widgetsOverflowError.length !=0">{{ widgetsOverflowError }}</mat-error>
    <mat-error *ngIf="someError">Errore! controlla se è presente un nome per il pannello e se hai selezionato {{selectableWidgets}} widget</mat-error>
    <div class="submit-button">
        <button mat-raised-button (click)="addPanel()">Aggiungi</button>
    </div>
</mat-dialog-content> -->

<div class="modal-content">
    <form class="content">
        <div class="forms">
            <div class="panel-name-form">
                <mat-form-field appearance="fill">
                    <mat-label for="panel-name">Nome Pannello</mat-label>
                    <input matNativeControl type="text" name="panel-name" [formControl]="panelName">
                    <mat-error *ngIf="panelName.invalid">Il nome del pannello deve essere specificato</mat-error>
                </mat-form-field>
            </div>
            <div class="grid-dimension-selector">
                <mat-form-field appearance="fill">
                    <mat-label for="panel-name">Dimensione Pannello</mat-label>
                    <select matNativeControl [formControl]="selectedDimension" (change)="updateSelectableWidgets($event)">
                        <option ngValue="2x2">2x2</option>
                        <option ngValue="3x3">3x3</option>
                    </select>
                </mat-form-field>
            </div>
        </div>

        <div class="widget-grid">
            <widget-grid (submitSelectedMeasuresEvent)="addMeasure($event)"></widget-grid>
        </div>
        <mat-error *ngIf="widgetsOverflowError.length !=0">{{ widgetsOverflowError }}</mat-error>
        <mat-error *ngIf="someError">Errore! controlla se è presente un nome per il pannello e se hai selezionato {{selectableWidgets}} widget</mat-error>
        
        <div class="submit-button">
            <button mat-raised-button (click)="addPanel()">Aggiungi</button>
        </div>
    </form>
</div>