<div *ngIf="!isSmallDimension; else small_dimension" class="container" [style.--col]="col" [style.--row]="row">

    <ng-container *ngFor="let measure of response | keyvalue">
        <!-- the "&& col === 2" is used to render the compass widget ONLY if the grid is a 2x2 -->
        <div *ngIf="isCompass(measure.key) && col === 2; else not_compass" class="grid-cell">
            <compass class="compass-canvas" [selectedMeasure]="measure.key" [value]="measure.value"></compass>
        </div>

        <ng-template #not_compass>
            <div class="grid-cell">
                <widget [measureName]="measure.key" [measureValue]="measure.value"></widget>
            </div>
        </ng-template>
    </ng-container>

    <div class="delete-button">
        <button mat-mini-fab color="primary" (click)="openConfirmDialog()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    
</div>


<ng-template #small_dimension>
    <div class="sm-container">
        <div class="header">
            <span id="panel-name">{{ panelName }}</span>
            
            <button id="sm-delete-button" mat-mini-fab color="primary" (click)="openConfirmDialog()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <ng-container *ngFor="let measure of response | keyvalue">
            <div class="grid-cell" >
                <widget [measureName]="measure.key" [measureValue]="measure.value"></widget>
            </div>
        </ng-container>
    </div>
</ng-template>

<!-- Confirmation modal -->
<div #confirmModal class="modal">
    <div class="content">
        <p>Sei sicuro di voler cancellare il pannello?</p>
        <div class="buttons">
            <button mat-raised-button (click)="deletePanel()">
                <span id="warn">Si</span> 
            </button>
            <button mat-raised-button (click)="closeConfirmDialog()">No</button>
        </div>
    </div>
</div>