.container {
    display: grid;
    grid-template-columns: repeat(var(--col), 1fr);
    grid-template-rows: repeat(var(--row), 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
}