<div class="container">
    <div class="row">
        <app-widget [measureName]="response[0][0]" [measureValue]="response[0][1]"></app-widget>
        <mat-divider [vertical]="true"></mat-divider>
        <app-widget [measureName]="response[1][0]" [measureValue]="response[1][1]"></app-widget>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
        <app-widget [measureName]="response[2][0]" [measureValue]="response[2][1]"></app-widget>
        <mat-divider [vertical]="true"></mat-divider>
        <app-widget [measureName]="response[3][0]" [measureValue]="response[3][1]"></app-widget>
    </div>
</div>